* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #f0f0f0;
}

.App {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.nav-logo-container h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #4c4c4c;
  margin: 0;
}

.navbar-links-container {
  display: flex;
}

.navbar-links-container a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  margin-right: 2rem;
}

.navbar-links-container a:last-child {
  margin-right: 0;
}

.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: #1a237e;
  color: white;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.home-banner-container {
  display: flex;
  padding: 3rem 0;
}

.home-text-section {
  flex: 1;
  margin-right: 3rem;
}

.home-image-section {
  flex: 1;
  max-width: 500px;
}

.primary-heading {
  font-size: 2.5rem;
  color: #4c4c4c;
  margin-bottom: 1rem;
}

.primary-text {
  font-size: 1.2rem;
  color: #6a6a6a;
  margin: 1.5rem 0;
}

.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #1a237e;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  color: white;
  margin-top: 1rem;
  display: inline-block;
}

.secondary-button svg {
  margin-left: 0.5rem;
  vertical-align: middle;
  justify-content: right;
}


.about-section-container {
  margin-top: 5rem;
  display: flex;
}

.about-section-image-container {
  flex: 1;
  max-width: 500px;
  margin-right: 3rem;
}

.about-section-text-container {
  flex: 1;
}

.primary-subheading {
  font-weight: 700;
  color: #1a237e;
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

.about-buttons-container {
  margin-top: 2rem;
}

.work-section-wrapper {
  margin-top: 5rem;
}

.work-section-top {
  text-align: center;
  margin-bottom: 3rem;
}

.work-section-bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.work-section-info {
  width: 290px;
  background-color: white;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  margin: 1rem;
}

.work-section-info img {
  max-width: 150px;
  margin-bottom: 1rem;
}

.work-section-info h2 {
  margin: 1rem 0;
}

.review-section-bottom {
  margin: 2rem auto;
  background-color: white;
  padding: 2rem;
  text-align: center;
  max-width: 750px;
  border-radius: 2rem;
}

.review-section-bottom img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.review-section-bottom p {
  font-weight: 700;
}

.review-stars-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.review-stars-container svg {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-size: 1.5rem;
  color: #1a237e;
}

.review-stars-container svg:first-child {
  margin-left: 0;
}

.contact-page-wrapper {
  text-align: center;
  margin: 6rem 0;
}

.contact-form-container {
  background-color: white;
  max-width: 700px;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  padding: 1rem;
  border-radius: 5rem;
  justify-content: center;
}

.contact-form-container input {
  flex: 1;
  border: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  justify-content: center;
}

.footer-wrapper {
  margin: 6rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-logo-container h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #4c4c4c;
  margin: 0;
}

.footer-icons {
  margin-top: 2rem;
  display: flex;
}

.footer-icons svg {
  font-size: 1.5rem;
  color: #585858;
  cursor: pointer;
  margin-right: 1rem;
}

.footer-icons svg:last-child {
  margin-right: 0;
}


.footer-section-two {
  display: flex;
}

.footer-section-columns {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.footer-section-columns:last-child {
  margin-right: 0;
}

.footer-section-columns span {
  font-weight: 600;
  color: #4c4c4c;
  cursor: pointer;
  margin-bottom: 0.5rem;
}


@media (max-width: 800px) {
  .navbar-links-container {
    position: fixed;
    top: 90px;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    flex-direction: column;
    padding-top: 3rem;
  }

  .navbar-links-container.active {
    right: 0;
  }

  .navbar-menu-container {
    display: flex;
  }

  .home-banner-container,
  .about-section-container {
    flex-direction: column;
    text-align: center;
  }

  .about-section-container {
    margin-top: 3rem;
  }

  .work-section-wrapper {
    margin-top: 3rem;
  }

  .contact-form-container {
    flex-direction: column;
    border-radius: 1rem;
    justify-content: center;
  }

  .contact-form-container input {
    width: 100%;
    
    margin-bottom: 1rem;
  }

  .footer-wrapper {
    flex-direction: column;
    background-color: white;
  }

  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
    background-color: white;
  }

  .App {
    width: 95%;
  }
}
